In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [155]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
1493,tt0422720,40000000,60474340,Marie Antoinette,Kirsten Dunst|Jason Schwartzman|Judy Davis|Rip...,Sofia Coppola,Rumor. Scandal. Fame. Revolution.,The retelling of France's iconic but ill-fated...,123,Drama|History,American Zoetrope|Columbia Pictures Corporatio...,5/24/2006,6.5,2006
716,tt0410377,37000000,100076342,Nim's Island,Abigail Breslin|Jodie Foster|Gerard Butler|Mic...,Jennifer Flackett|Mark Levin,Your adventure starts here.,A young girl inhabits an isolated island with ...,96,Adventure|Comedy|Family|Fantasy,Walden Media,4/3/2008,5.5,2008
1204,tt1854564,90000000,174578751,Percy Jackson: Sea of Monsters,Logan Lerman|Alexandra Daddario|Douglas Smith|...,Thor Freudenthal,"Where There Are Gods, There Are Monsters.","In their quest to confront the ultimate evil, ...",106,Adventure|Family|Fantasy,1492 Pictures|Dune Entertainment|Fox 2000 Pict...,8/7/2013,5.9,2013
301,tt1130080,22000000,35424826,The Informant!,Matt Damon|Scott Bakula|Joel McHale|Melanie Ly...,Steven Soderbergh,Based on a tattle-tale.,A rising star at agri-industry giant Archer Da...,108,Comedy|Crime|Drama|Thriller,Section Eight|Groundswell Productions|Warner B...,9/18/2009,6.0,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# Добавляем столбец profit, который равен revenue-budget
data = data.assign(profit = data.revenue - data.budget)

#Добавляем столбец месяца 'month' в наши датафрейм
data = data.assign(month =pd.DatetimeIndex(data['release_date']).month)


# Функция перевода цифрового кода месяца в текстовый
# Функция получает номер месяца и возвращает его наименование текстом на английском
# Если название месяца не находится выдает значение 'Error' 
def func_month(x):
    if x==1:
        return 'January'
    elif x==2:
        return 'February'
    elif x==3:
        return 'March'
    elif x==4:
        return 'April'
    elif x==5:
        return 'May'
    elif x==6:
        return 'June'
    elif x==7:
        return 'July'
    elif x==8:
        return 'August'
    elif x==9:
        return 'September'
    elif x==10:
        return 'October'
    elif x==11:
        return 'November'
    elif x==12:
        return 'December'
    else:        
        return 'Error'
    
#Переводи числовые обозначения месяца в текстовые

data['month'] = data.month.apply(func_month)
    
# Функция определения сезона
# Функция получает названи месяца на английском и возвращает название сезона на английском
# Если название сезона не находится выдает значение 'Error' 
def func_season(x):
    if x in ('January','February','December'):
        return 'Winter'
    elif x in ('March','April','May'):
        return 'Spring'
    elif x in ('June','July','August'):
        return 'Summer'
    elif x in ('September', 'October', 'November'):
        return 'Autumn'
    else:
        return 'Error'
#Создаем столбец Сезон в текстовом формате
data['season'] = data.month.apply(func_season)

# Описать функции по нормальному

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
#Для нахождения ответа нам нужно найти в Датафрейме data строку с максимальным значением 'budget'
data.loc[data['budget']==data.budget.max()]
#В ответе сразу заметно, что в столбце 'cast' имя Пенелопы Круз с ошибками кодировки

# Укороченная запись, просто берет данные из массива
answers['1'] = data.loc[data['budget']==data.budget.max()].original_title
answers['1'] # Выводим ответ

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [6]:
# Вариант с номером строки, названием и кодом imdb
answers['1'] = data.loc[data['budget']==data.budget.max()].original_title + ' (' + data.loc[data['budget']==data.budget.max()].imdb_id + ')'
answers['1'] # Выводим ответ

723    Pirates of the Caribbean: On Stranger Tides (t...
dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# Логика такая же, как и в предидущем вопросе, меняется только столбец
# в котором мы ищем на 'runtime'
data.loc[data['runtime']==data.runtime.max()]
answers['2'] = data.loc[data['runtime']==data.runtime.max()].original_title
answers['2'] # Выводим ответ

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
#Если мы хотим получить ответ с номером строки, наванием и кодом imdb
answers['2'] = data.loc[data['runtime']==data.runtime.max()].original_title + ' (' + data.loc[data['runtime']==data.runtime.max()].imdb_id + ')'
answers['2'] # Выводим ответ

1157    Gods and Generals (tt0279111)
dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
# В данной задаче нам ужно найти фильм с минимальным 'runtime'
answers['3'] = data.loc[data['runtime']==data.runtime.min()].original_title
answers['3'] # Выводим ответ

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 2

In [10]:
#Если мы хотим получить ответ с номером строки, наванием и кодом imdb
answers['3'] =  data.loc[data['runtime']==data.runtime.min()].original_title + ' (' + data.loc[data['runtime']==data.runtime.min()].imdb_id + ')'
answers['3'] # Выводим ответ

768    Winnie the Pooh (tt1449283)
dtype: object

# 4. Какова средняя длительность фильмов?

In [11]:
# Просто находим среднее значение (mean) по столбцу runtime с округлением (round)
answers['4'] = round(data.runtime.mean())
answers['4'] # Выводим ответ

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
# Просто находим среднее значение (median) по столбцу runtime с округлением (round)
answers['5'] = round(data.runtime.median())
answers['5'] # Выводим ответ

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = data.loc[data['profit']==data.profit.max()].original_title
answers['6'] # Выводим ответ

239    Avatar
Name: original_title, dtype: object

ВАРИАНТ 2

In [14]:
answers['6'] =  data.loc[data['profit']==data.profit.max()].original_title + ' (' + data.loc[data['profit']==data.profit.max()].imdb_id + ')' 
answers['6'] # Выводим ответ

239    Avatar (tt0499549)
dtype: object

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = data.loc[data['profit']==data.profit.min()].original_title
answers['7'] # Выводим ответ

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [16]:
answers['7'] =  data.loc[data['profit']==data.profit.min()].original_title + ' (' + data.loc[data['profit']==data.profit.min()].imdb_id + ')' 
answers['7'] # Выводим ответ

1245    The Lone Ranger (tt1210819)
dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = len(data.loc[data['revenue']>data.budget])
answers['8'] # Выводим ответ

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
# Создаем датасет с фильмами 2008 года
data_2008 = data.loc[data['release_year'] == 2008]

# Ищем в датасете фильмов 2008 года самый кассовый
answers['9'] = data_2008.loc[data_2008['revenue'] == data_2008.revenue.max()].original_title
answers['9'] # Выводим ответ

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 2

In [19]:
# Создаем датасет с фильмами 2008 года
data_2008 = data.loc[data['release_year'] == 2008]

# Ищем в датасете фильмов 2008 года самый кассовый (revenue)
answers['9'] = data_2008.loc[data_2008['revenue'] == data_2008.revenue.max()].original_title + ' (' + data_2008.loc[data_2008['revenue'] == data_2008.revenue.max()].imdb_id + ')' 
answers['9'] # Выводим ответ

599    The Dark Knight (tt0468569)
dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
# Создаем датасет с фильмами 2012-2014 года
data_2012_2014 = data.loc[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)]
# Название датафрейма не самое лучшее с точки зрения удобства использования, но понятное по названию

# Ищем в датасете фильмов 2012-2014 года самый убыточный по profit
answers['10'] = data_2012_2014.loc[data_2012_2014['profit'] == data_2012_2014.profit.min()].original_title + ' (' + data_2012_2014.loc[data_2012_2014['profit'] == data_2012_2014.profit.min()].imdb_id + ')' 

# Тут и далее будет только вариант ответа в читаемом человеком виде
answers['10'] # Выводим ответ

1245    The Lone Ranger (tt1210819)
dtype: object

# 11. Какого жанра фильмов больше всего?

In [153]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_copy_11 = data.copy()
data_copy_11['genres'] = data_copy_11.genres.str.split('|')
genres = data_copy_11.explode('genres')['genres']
counter_genres = Counter(genres)

# Считаем самый популярный жанр
answers['11'] = counter_genres.most_common(1)
answers['11'] # Выводим ответ

[('Drama', 782)]

ВАРИАНТ 2

In [152]:
data_copy_11 = data.copy()
data_copy_11['genres'] = data_copy_11.genres.str.split('|')
data_copy_11 = data_copy_11.explode('genres')

answers['11'] = data_copy_11['genres'].value_counts().head(1)
answers['11'] # Выводим ответ

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [23]:
df = data_copy.explode('genres')

# Суммируем прибыль по жанрам
df_genres = df.groupby('genres').sum()[['profit']]

# Выбираем самые выокобюджетные фильмы
answers['12'] = df_genres.loc[df_genres.profit == df_genres.profit.max()]
answers['12'] # Выводим ответ

                profit
genres
Adventure  86070466981

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [136]:
data_copy_13 = data.copy()

# Разделяем данные по режиссерам
df = data_copy_13.explode('director')
df_director = df.groupby('director').sum()[['revenue']]

# Отбираем данные по саммым высоким кассовым сборам
answers['13'] = df_director.loc[df_director.revenue == df_director.revenue.max()]
answers['13'] # Выводим ответ

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [138]:
data_copy_14 = data.copy()

# Разделяем данные по режиссерам
data_copy_14['director'] = data_copy_14.director.str.split('|')
data_copy_14['genres'] = data_copy_14.genres.str.split('|')
df = data_copy_14.explode('director').explode('genres')
df_action = df.query('genres in ["Action"]')

# Группируем данные по режиссерам снявшим Actionы, сортируем по убыванию и выводим первое значение
answers['14'] = df_action.groupby('director')['director'].count().sort_values(ascending=False).head(1)
answers['14'] # Выводим ответ

director
Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [137]:
data_copy_15 = data.copy()

# Разделяем фильмы по актерам
data_copy_15['cast'] = data_copy_15.cast.str.split('|')
df = data_copy_15.explode('cast')
# Отбираем фильмы 2012 года
df_2012 = df.loc[df.release_year == 2012]

# Группируем данные по актерам по сборам, ортируем по убыванию и выводим первое значение
answers['15'] = df_2012.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1)
answers['15'] # Выводим ответ

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [27]:
data_copy_16 = data.copy()

# Разделяем данные по актерам
data_copy_16['cast'] = data_copy_16.cast.str.split('|')
df_16 = data_copy_16.explode('cast')

# Определяем высокобюджетные фильмы
budget_more_than_mean = df_16[df_16['budget'] > df_16['budget'].mean()]

# Выводим первого актера по количеству высокобюджетных фильмов
answers['16'] = budget_more_than_mean['cast'].value_counts().head(1)
answers['16'] # Выводим ответ

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [131]:
data_copy_17 = data.copy()

# Разделяем данные по актерам и жанрам
data_copy_17['cast'] = data_copy_17.cast.str.split('|')
data_copy_17['genres'] = data_copy_17.genres.str.split('|')
data_copy_17 = data_copy_17.explode('cast')
df_nic_cage = data_copy_17[data_copy_17['cast'] == 'Nicolas Cage']
df_nic_cage = df_nic_cage.explode('genres')

# Считаем фильмы с Николасом Кейджем и вывоим первый жанр
answers['17'] = df_nic_cage['genres'].value_counts().head(1)
answers['17'] # Выводим ответ

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [29]:
data_copy_18 = data.copy()

# Разделяем данные по студиям и отбираем Paramount Pictures
data_copy_18['production_companies'] = data_copy_18.production_companies.str.split('|')
data_copy_18 = data_copy_18.explode('production_companies')
data_paramount = data_copy_18[data_copy_18.production_companies == 'Paramount Pictures']

# Выбираем самый убыточный фильм Paramount и выводим его название
answers['18'] = data_paramount.loc[data_paramount.profit == data_paramount.profit.min()].original_title
answers['18'] # Выводим ответ

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [123]:
data_copy_19 = data.copy()

# Группируем данные по кассовым сборам по годам, сортируем по убыванию и выводи первое значение
answers['19'] = data_copy.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
answers['19'] # Выводим ответ

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [31]:
data_copy_20 = data.copy()

# Разделяем данные по студиям
data_copy_20['production_companies'] = data_copy_20.production_companies.str.split('|')
WarnBros = data_copy_20.explode('production_companies')

# Выбираем данные, которые содержат старое и новое название студии Warner Bros
WarnBros = WarnBros[WarnBros.production_companies.str.contains ("Warner Bros.", na=False)]

# Группируем данные по прибыли в год, сортируем по убыванию и выбираем первое значение
answers['20'] = WarnBros.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)
answers['20'] # Выводим ответ

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
df = data.copy()
# Т.К. столбец "Месяц" выведен в предобработку
# группируем данные по месяцам, сортируем по убыванию и выводим первое значение
answers['21'] = df.groupby('month')['revenue'].count().sort_values(ascending=False).head(1)
answers['21'] # Выводим ответ

month
September    227
Name: revenue, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
df = data.copy()

# Т.К. столбец "Сезон" выведен в предобработку, просто группируем данные за лето,
# сортируем по убыванию и выводим первое значение
answers['22'] = df.groupby('season')['imdb_id'].count().sort_values(ascending=False).head(1)
answers['22'] # Выводим ответ

season
Autumn    559
Name: imdb_id, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
df_23 = data.copy()

# Разделяем режиссеров в данных
df_23['director'] = df_23.director.str.split('|')
dir_23 = df_23.explode('director')

# Выбираем фильмы вышедшие зимой 
dir_23 = dir_23.loc[dir_23['season'] == 'Winter']

# Считаем фильмы по каждому режиссеру, сортируем по убыванию и выводим первое значение
answers['23'] = dir_23.groupby('director')['imdb_id'].count().sort_values(ascending=False).head(1)
answers['23'] # Выводим ответ

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
df_24 = data.copy()

# Разделяем студии
df_24['production_companies'] = df_24['production_companies'].str.split('|')
df_24 = df_24.explode('production_companies')

# Создаем столбец с длинной названий фильмов
df_24['title_len'] = df_24.original_title.apply(lambda x: len(x))

# Группируем данные по среднему значению для студии, сортируем по убыванию и выводим первое значение 
answers['24'] = df_24.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).head(1)
answers['24'] # Выводим ответ

production_companies
Four By Two Productions    83.0
Name: title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
df_25 = data.copy()

# Разделяем студии 
df_25['production_companies'] = df_25['production_companies'].str.split('|')
df_25 = df_25.explode('production_companies')

# Создаем столбец с динной названия
df_25['overview_len'] = df_25['overview'].str.split().apply(len)

# Выводим самое длинное описание
answers['25'] = df_25.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False).head(1)
answers['25'] # Выводим ответ

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [154]:
df_26 = data.copy()
df_top = df_26['vote_average'].sort_values(ascending=False).head(round(len(df_26['vote_average'])/100))
df_for_match = df_26.loc[df_26['vote_average'] >= df_top.min()]['original_title']
df_for_match = pd.DataFrame(df_for_match, columns = ['original_title'])

ans_var = {'answer1' : ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
           'answer2' : ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
           'answer3' : ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
           'answer4' : ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
           'answer5' : ['Upside Down', 'Inside Out', 'Iron Man']}

df_for_match['original_title']
# Я не нашел способа сопоставить ответы, которые разместил в ans_var
# и df_for_match буду признателен за обратную связь

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [117]:
df_27 = data.copy()

# Отбираем фильмы по парам из ответом
q27_ans1 = df_27[df_27.cast.str.contains('Johnny Depp') & df_27.cast.str.contains('Helena Bonham Carter')]
q27_ans2 = df_27[df_27.cast.str.contains('Ben Stiller') & df_27.cast.str.contains('Owen Wilson')]
q27_ans3 = df_27[df_27.cast.str.contains('Vin Diesel') & df_27.cast.str.contains('Paul Walker')]
q27_ans4 = df_27[df_27.cast.str.contains('Adam Sandler') & df_27.cast.str.contains('Kevin James')]
q27_ans5 = df_27[df_27.cast.str.contains('Daniel Radcliffe') & df_27.cast.str.contains('Rupert Grint')]

# Создаем словарь с парами актеров и количеством фильмов
q27_answers = {'Johnny Depp & Helena Bonham Carter' : len(q27_ans1), 'Ben Stiller & Owen Wilson' : len(q27_ans2),
              'Vin Diesel & Paul Walker' : len(q27_ans3), 'Adam Sandler & Kevin James' : len(q27_ans4),
              'Daniel Radcliffe & Rupert Grint' : len(q27_ans5),}

# В качестве ответа выбараем пару с максимальным количество фильмов
answers['27'] = max(q27_answers, key=q27_answers.get)
answers['27'] # Выводим ответ

'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [101]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides (t...
 dtype: object,
 '2': 1157    Gods and Generals (tt0279111)
 dtype: object,
 '3': 768    Winnie the Pooh (tt1449283)
 dtype: object,
 '4': 110,
 '5': 107,
 '6': 239    Avatar (tt0499549)
 dtype: object,
 '7': 1245    The Lone Ranger (tt1210819)
 dtype: object,
 '8': 1478,
 '9': 599    The Dark Knight (tt0468569)
 dtype: object,
 '10': 1245    The Lone Ranger (tt1210819)
 dtype: object,
 '11':   genres  imdb_id
 0  Drama      782,
 '12':                 profit
 genres
 Adventure  86070466981,
 '13':                   revenue
 director
 Peter Jackson  6490593685,
 '14': director
 Robert Rodriguez    9
 Name: director, dtype: int64,
 '15': cast
 Chris Hemsworth    2027450773
 Name: revenue, dtype: int64,
 '16': Matt Damon    18
 Name: cast, dtype: int64,
 '17': Action    17
 Name: genres, dtype: int64,
 '18': 925    K-19: The Widowmaker
 Name: original_title, dtype: object,
 '19': release_year
 2015    25449202382
 Name: revenue, dtype: int64,
 '20': release_year
 2014    2292949646
 Name: profit, dtype: int64,
 '21': month
 September    227
 Name: revenue, dtype: int64,
 '22': season
 Autumn    559
 Name: imdb_id, dtype: int64,
 '23': director
 Peter Jackson    7
 Name: imdb_id, dtype: int64,
 '24': production_companies
 Four By Two Productions    83.0
 Name: title_len, dtype: float64,
 '25': production_companies
 Midnight Picture Show    175.0
 Name: overview_len, dtype: float64,
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

26